@import '../lib/scss/include-media';

$dark-grey: #666;
$light-grey: #ddd;

@mixin info-section {
  width: 100%;
  margin: 1.25em 0 1.625em 0;
  text-transform: capitalize;
}

@mixin clean-list {
  margin: 0.5em 0 0;
  padding: 0;
  list-style: none;
}

@mixin zebra-striped {
  &:nth-child(even) {
    background-color: $light-grey;
  }
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 90vw;
  margin: 0 auto;

  @include media('>tablet') {
    max-width: 70vw;
  }
}

.character-sheet {
  width: 100%;
  padding-top: 0.25em;

  .section-header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    border-bottom: 1px solid $dark-grey;

    .addl-info {
      flex-basis: 50%;
      margin: 0;
      text-align: right;
      font-weight: normal;
      font-size: 0.825rem;
    }
  }

  @include media('>tablet') {
    .addl-info {
      display: none;
    }
  }
}

.char-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  text-transform: capitalize;

  .char-class {
    text-transform: capitalize;
    margin: 0;
  }

  .secondary-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;

    .entry {
      flex: 1;
    }

    .entry-label {
      margin-right: 0.25em;
    }
  }

  @include media('>tablet') {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;

    .char-class {
      text-transform: capitalize;
      margin: 0;
      flex-grow: 2;
    }

    .secondary-info {
      width: auto;
      flex-grow: 1;

      .entry-label {
        margin-right: 0.25em;
      }
    }
  }
}

.character-abilities {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0.5em 0;
  padding: 0.5em 0 0;
  list-style: none;
  border-top: 1px solid $dark-grey;

  .ability {
    display: flex;
    flex-direction: column;
    flex: 0 1 calc(33.33% - 10px);
    margin: 0 5px 0.5em;
    border: 1px solid black;

    .ability-value {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 10px 0;
      background-color: black;
      color: white;
      font-weight: 600;
      font-size: 1.15rem;
    }

    .ability-stat {
      flex: 0;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
    }
  }

  @include media('>tablet') {
    .ability {
      flex-basis: calc(16.66% - 10px);
      flex-wrap: initial;
    }
  }
}

.character-saves {
  @include info-section;

  .saving-throws {
    @include clean-list;
  }

  .saving-throw {
    display: flex;
    justify-content: space-between;
    padding: 0.25em 0.5em;
    @include zebra-striped;

    > * {
      margin: 0;
    }
  }

  @include media('>tablet') {
    .saving-throws {
      display: flex;
      flex-wrap: wrap;
    }

    .saving-throw {
      flex: 0 1 calc(50% - 14px);
      margin: 5px;
      border: 1px solid $light-grey;
      background-color: transparent !important;
    }
  }
}

.character-to-hit {
  @include info-section;

  .to-hit-matrix {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
  }

  .to-hit {
    display: flex;
    flex: 1 0 calc(25% - 4px);
    max-width: calc(25% - 4px);
    flex-direction: column;
    justify-content: space-around;
    margin: 5px 2px;

    .to-hit-ac,
    .to-hit-roll {
      width: 100%;
      margin-bottom: 0;
      padding: 2px 2px;
      text-align: center;
    }

    .to-hit-ac {
      background-color: $light-grey;
      border-bottom: 1px solid $dark-grey;
    }

    @include media('>tablet') {
      flex: 1 0 6.25%;
      max-width: 6.25%;
      margin: 0;

      .to-hit-ac {
        border: none;
      }
    }
  }
}

.character-spells {
  @include info-section;

  .spell-list {
    @include clean-list;
  }

  .spell-level {
    padding: 2px 5px;
    @include zebra-striped;
  }
}

.character-skills,
.character-features,
.character-money {
  @include info-section;

  .skill-list,
  .feature-list,
  .currency-list {
    @include clean-list;
  }

  .skill,
  .feature {
    padding: 2px 5px;
    @include zebra-striped;

    > * {
      margin-bottom: 0;
    }
  }

  .skill {
    display: flex;
    justify-content: space-between;

    @include media('>tablet') {
      display: inherit;
    }
  }

  .feature-values {
    margin-bottom: 0;
    font-size: 0.825em;
    font-style: italic;
  }
}

.character-money {
  .currency-list {
    display: flex;
  }

  .currency {
    display: flex;
    flex-direction: column;
    flex: 1 0 calc(25% - 10px);
    max-width: calc(25% - 10px);
    margin: 0 5px;
    border: 1px solid black;

    .value {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 10px 0;
      background-color: black;
      color: white;
    }

    strong {
      flex: 0;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

.disclaimer {
  text-align: left;
  font-size: 0.725em;
  line-height: 1.5em;
  margin-bottom: 1em;
  width: 100%;
}
